* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #242424;
}

.div960 {
  width: 960px; 
  margin: auto; 
}

.logo {
  font-family: Aclonica;
  color: #BDEAFF;
  padding: 20px 0px 20px 20px;
}

.game-content {
  width: 960px;
  background-color: #1B1B1B;
  overflow: hidden;
  
  box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.footer {
    margin: auto;
    text-align: right;
    color: rgba(255, 255, 255, 0.32);
    font-size: 14px;
    text-decoration: none;
    line-height: 18px
}

.footer a:link {
    color: #BDBDBD;
}

/* visited link */
.footer a:visited {
    color: #BDBDBD;
}