.city {
  display: block;
  height: 35px;
  width: 122px;
  border: 1px solid black;
  text-align: center;
  line-height: 35px;

  background: #383838;


  color: white;
  box-shadow: 0 0 5px black;
  font-size: 14px;
  border-radius: 0 0 5px 0;
  margin-top: 3px;

  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
}

.city:first-child {
  margin-top: 0px;
}

.cities {
  float: left;
}

.selected-city {
  background-color: #575757;
  border: 1px solid #BDEAFF;
}
.city:hover {
  cursor: pointer;
  background-color: #8D8D8D
}

#selCity {
  float: left;
}