.city {
  display: block;
  height: 35px;
  width: 122px;
  border: 1px solid black;
  text-align: center;
  line-height: 35px;

  background: #383838;


  color: white;
  box-shadow: 4px 4px 10px black;
  font-size: 14px;
  border-radius: 0 0 5px 0
}

.cities {
  float: left;
}

.selected-city {
  background-color: #575757;
  border: 1px solid #BDEAFF;
}
.city:hover {
  cursor: pointer;
  background-color: #E3E3E3
}

#selCity {
  float: left;
}