.popup_content_container {
  background-color: rgba(49, 49, 49, 0.92);
  margin-left: 4px;
  margin-top: 39px;
  width: 75%;
  height: 260px;
  padding: 10px;
  border-radius: 7px;
  border: solid 2px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content_container h3 {
  color: #BDEAFF;
}

.pop_up_content{
  color: white;
  font-size: 14px;
  text-align: center;
}

.pop_up_content_left {
  float: left;
  padding-right: 10px;
  
}

.pop_up_content_right {
  float: left;
  border-left: dashed 1px #BDEAFF;
  padding: 0px 0 10px 10px;;
}

.progress_bar_container {
  margin-left: -9px;
  text-align: center;
  width: 586px;
  height: 50px;
  line-height: 50px;
}

.progress_bar {
  position:relative;
  margin: auto;
  width: 95%;
  height: 40%;
  background-color: #737373;
  margin-top: 16px;
  border-radius: 0 15px 15px 0;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  
}

.progress_instant {
  background-color: #F0F7FD;
  border-radius: 0 15px 15px 0;
}
.progress_medium {
  background-color: #BCEAFF;
  border-radius: 0 15px 15px 0;

  transition: width .3s ease-out;
  -moz-transition: width .3s ease-out;
  -webkit-transition: width .3s ease-out;
  -o-transition: width .3s ease-out;
}

.progress_slow {
  background-color: #84D8FF;
  border-radius: 0 15px 15px 0;
  transition: width .6s ease-out;
  -moz-transition: width .6s ease-out;
  -webkit-transition: width .6s ease-out;
  -o-transition: width .6s ease-out;
}

.progress_complete {
  width: 100%;
  background-color: white;
  border-radius: 0 15px 15px 0;

  transition: opacity .15s ease-out;
  -moz-transition: opacity .15s ease-out;
  -webkit-transition: opacity .15s ease-out;
  -o-transition: opacity .15s ease-out;

}

.pop_up_actions {
  clear: both;
  position: absolute;
  top: 95px;
  left: 476px;
  color: white;
}

.pop_up_actions button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
}