.popup_content_container {
  background-color: rgba(49, 49, 49, 0.92);
  margin-left: 4px;
  margin-top: 39px;
  width: 75%;
  height: 260px;
  padding: 10px;
  border-radius: 7px;
  border: solid 2px black;
  position: relative;
}

.pop_up_content{
  color: white;
  font-size: 14px;
  text-align: center;
}

.pop_up_content_left {
  float: left;
  padding-right: 10px;
  
}

.pop_up_content_right {
  float: left;
  border-left: solid 1px white;
  padding: 0px 0 10px 10px;;
}

.progress_bar_container {
  margin-left: -9px;
  text-align: center;
  width: 586px;
  height: 50px;
  line-height: 50px;
}

.progress_bar {
  margin: auto;
  width: 95%;
  height: 40%;
  background-color: #737373;
  margin-top: 16px;
  border-radius: 0 15px 15px 0;
}

.progress {
  height: 100%;
  background-color: #84D8FF;
  border-radius: 0 15px 15px 0;
}

.pop_up_actions {
    clear: both;
    position: absolute;
    top: 95px;
    left: 476px;
}

.pop_up_actions button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
}